@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-item {
    @apply hover:text-softRed cursor-pointer;
  }
}

#root {
  padding: 0;
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
}
